// Import normalize before all other files
@import '../../node_modules/normalize.css/normalize';

@import '../modules/all';
@import './typography';

// Dimensions
$sidebar-padding: 15px;
$sidebar-width: 180px;

$common-border: 2px solid #dcdcdc;
$thin-common-border: 1px solid #dcdcdc;

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  margin-bottom: 45px;

  h5 {
    color: $sidebar-header-color;
    padding-top: 15px;

    margin-block: {
      start: 0;
      end: 0;
    }
  }

  ul {
    padding: 0;

    li {
      @include centered-flex-container;
      justify-content: start;
      list-style: none;
      padding-top: 18px;

      img {
        margin-right: 10px;
      }
    }
  }
}

.lower-main {
  @include centered-vertical-flex-container;
  justify-content: flex-start;
  background-color: $tertiary-brand-color;
  height: 100%;
  padding: 45px;
}