@import 'base';

.listing-info-container {
  @include centered-flex-container;
  justify-content: space-between;
  margin: 30px 60px;
  width: auto;

  .listing-position-header {
    color: $secondary-font-color;
    font: {
      size: $lg-responsive-base-font;
      weight: 300;
    }
  }
}

.listing-location-container {
  @include centered-flex-container;
  justify-content: flex-start;

  .listing-location {
    color: $secondary-font-color;
  }

  img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}

.listing-info-link {
  color: $primary-brand-color;
}

.listing-button-container {
  @include centered-flex-container;
  gap: 20px;

  div {
    @include centered-flex-container;
    height: 40px;
    width: 90px;
    border: $common-border {
      radius: 20px;
    };
    text-align: center;
    justify-items: center;
    
    span {
      color: $secondary-font-color;
    }

    .green-light {
      height: 8px;
      width: 8px;
      background-color: green;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  button {
    height: 40px;
    background-color: transparent;
    border: $common-border {
      radius: 50%;
    }
  }

}
