.lower-main {
  height: calc(100% - 312px); // this will need to be adjusted
}

.metrics-section {
  @include centered-flex-container;
  justify-content: space-around;
  padding-top: 60px;

  .progress-bar-container {
    @include centered-vertical-flex-container;
    height: 250px;
    width: 50%;

    .all-donut-charts-container {
      @include centered-flex-container;
      height: 175px;
      width: 100%;
      gap: 60px;
      margin-bottom: 40px;
    }
  }
}

.donut-inner {
  @include centered-vertical-flex-container;
  // work around for getting content centered in chart
  margin-left: -185px;

  .stat-value {
    margin: 0 {
      top: 15px;
    }
    font: {
      size: $lg-responsive-base-font;
      weight: 600;
    }
  }

  p {
    color: $secondary-font-color;
  }
}

.bar-chart-container {
  @include centered-vertical-flex-container;

  canvas {
    margin-bottom: 40px;
  }
}

.metric-descriptor {
  width: fit-content;
  padding: 7px;
  background-color: #fff;
  border: $common-border {
    radius: 20px;
  }

  strong,
  span {
    color: $secondary-font-color;
  }
}