@import "base";

.sidebar {
  @include centered-vertical-flex-container;
  justify-content: start;

  color: $primary-font-color;
  background-color: $sidebar-bg-color;
  width: 180px;
  height: 100vh;
  padding: 15px;
}

.user-profile-container {
  @include centered-vertical-flex-container;
  width: 100%;
  padding: 20px 0 20px 0;

  .img-placeholder {
    height: 60px;
    width: 60px;
    border: 2px solid red;
    border-radius: 50%;
  }

  .username {
    position: relative;
    
    &::after {
      content: '⌄';
      position: absolute;
      right: -15px;
      bottom: 4px;
      display: inline-block;
    }
  }
}

.nav-container {
  align-self: start;
}

nav {
  margin-bottom: 45px;

  h5 {
    color: $sidebar-header-color;
    padding-top: 15px;
    margin-block: {
      start: 0;
      end: 0;
    };
  }

  ul {
    padding: 0;

    li {
      @include centered-flex-container;
      justify-content: start;
      list-style: none;
      padding-top: 14px;
      
      a {
        text-decoration: none;
        color: $primary-font-color;
        padding-left: 10px;
      }
    }
  }

}
