@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-VariableFont.ttf');
}

// Base Font
$base-font: 'Nunito', sans-serif;

// Font Sizes
$sm-responsive-base-font: .9rem;
$reg-responsive-base-font: 1rem;
$med-responsive-base-font: 1.1rem;

* {
  font: {
    family: $base-font;
    size: $sm-responsive-base-font;
  }
}