$primary-font-color: #c9c9c9;

// Sidebar
$sidebar-bg-color: #32364D;
$sidebar-horiz-rule-color: #262a40;
$sidebar-header-color: #a1a1a1;

  // Sidebar Checkboxes
  $admin-cb-color: #fddc0c;
  $design-cb-color: #2caffe;
  $exec-cb-color: #e31a5f;
  $hr-cb-color: #04a98a;
